body{
margin: 0;
padding: 0;
background-color: #f3f1ff;
}
ul {
  background-color: #562eff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
ul span{
    padding: 0px 200px;
  
}
ul li {
  padding: 10px;
  list-style-type: none;
  display: inline;
}

li a {
  text-decoration: none;
  color: white;
}
span .logo {
  width: 30px;
}

.top-section{
    height: 700px;
    background-color: white;
    margin: 0px 200px;
    padding: 20px;
    border-radius: 10px;
}


.top-section h2{
    color: #7058db;
}


.top-player{
    display: grid;
   grid-template-columns: repeat(3, 1fr);
   justify-content: space-between;
   align-items: center;
}

.player-info img{
    width: 50px;
}

.player-info{
    display: flex;
    padding: 10px;
}

